@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /* sort-cut of above */
    /* font: 15px/1.5 Arial, Helvetica, sans-serif; */
    padding: 0;
    margin: 0;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header #current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}


/* Showcase */
#showcase {
    min-height: 400px;
    background: url('../img/computer1.jpeg') no-repeat 0 0px;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    font-style: italic;
    font-family: serif;
}

#showcase p {
    font-size: 20px;
    font-family: Raleway;
}

#aboutshowcase {
    min-height: 400px;
    background: url('../img/code.png') no-repeat 0 0px;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#aboutshowcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#aboutshowcase p {
    font-size: 20px;
}


/* Quotes  */
#quote {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}


#author {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* Resume */

#resume {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}


#resume h1 {
    float: left;
}

#resume form {
    margin-top: 15px;
    float: right;
}

#resume input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

#resumeDown {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}
#resumeDown h1 {
    float: left;
}
#resumeDown a {
    padding-left: 7px;
}



/* Boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}

/* Sidebars */
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

/* Main-col */
article#main-col {
    margin-top: 10px;
    float: left;
    padding: 5px;
    color: #060511e3;
    width: 65%;
    background: #61616148;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

article#main-col h1 {
    font-family: serif;
}

article#main-col p {
    font-family: Arial, Helvetica, sans-serif;
}
/* Services */
ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 3px;
    background: #e6e6e6;
}

hr {
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#patatapClone {
    text-align: center;
    font-family: serif;
    color: #08123f91;
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #35424a;
    text-align: center;
}

#social {
    margin: 20px 10px;
    text-align: center;
  }
  
  .smGlobalBtn{ /* global button class */
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 50px;
      height: 50px;
      box-shadow: 0 2px 2px #999;
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 25px;
      font-weight: normal;
      line-height: 2em;
      border-radius: 25px;
      -moz-border-radius:25px;
      -webkit-border-radius:25px;
  }
  
  
  /* linkedin button class*/
  .linkedinBtn{
      background: #0094BC;
      margin-right: 5px;
  }
  
  .linkedinBtn:before{
        font-family: "FontAwesome";
        content: "\f0e1"; /* add linkedin icon */
  }
  
  .linkedinBtn:hover{
        color: #0094BC;
        background: #fff;
  }
  
  /* linkedin button class*/
  .githubBtn{
      background: #0094BC;
  }
  
  .githubBtn:before{
        font-family: "FontAwesome";
        content: "\f09b"; /* add linkedin icon */
  }
  
  .githubBtn:hover{
        color: #0094BC;
        background: #fff;
  }



/* Media Queries */

@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #resume h1,
    #resume form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #resume button, .quote button {
        display: block;
        width: 100%;
    }

    #resume form input[type="email"], .quote input, .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }

}

